[Unit]
Description=Notify Proxy
After=network.target

[Service]
VIRTUAL_ENV=/opt/notify-proxy/venv
WorkingDirectory=/opt/notify-proxy
ExecStart=/opt/notify-proxy/venv/bin/flask run --port 7001
Restart=always

[Install]
WantedBy=multi-user.target

