[Unit]
Description=Bifrost
After=network.target

[Service]
VIRTUAL_ENV=/opt/bifrost/venv
WorkingDirectory=/opt/bifrost
ExecStart=/opt/bifrost/venv/bin/flask run
Restart=always

[Install]
WantedBy=multi-user.target

